# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
*.pyc

# Virtual environment
myenv/
venv/
env/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Environment variables - never commit this
.env





# MLflow
mlruns/
mlflow_artifacts/

# Mac
.DS_Store
.AppleDouble
.LSOverride

# VSCode
.vscode/
*.code-workspace

# Logs
*.log
logs/

# Docker
.docker/